<div class="container mt-5">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a class="nav-link px-2" href="{{ site.url }}">{{ site.title }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="mailto:{{ site.email }}">{{ site.email }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="https://github.com/{{ site.github_username }}">My Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" href="https://linkedin.com/{{ site.linkedin_username }}">My LinkedIn</a>
      </li>
    </ul>
    <p class="text-center">{{ site.description }}</p>
  </footer>
</div>
