<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

      <a class="navbar-brand" href="{{ site.url }}" title="Home" id="logo">Ferhan Syed</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{{ site.url }}/blog">Blog</a>
          <a class="nav-link active" aria-current="page" href="{{ site.url }}/resume">Resume</a>
          <a class="nav-link active" aria-current="page" href="{{ site.url }}/contact">Contact</a>
          <a class="nav-link active" aria-current="page" href="{{ site.url }}/projects">Projects</a>
        </div>
      </div>

    </div>
  </nav>
</header>
